$primary: #71E580;
$secondary: #719CE5;
$terciary: #E571D6;
$quartary: #E5BA71;


/* lb = Library abreviation */
.lb-bg-primary{
    background-color: $primary;
}

.lb-bg-secondary{
    background-color: $secondary;
}

.lb-bg-terciary{
    background-color: $terciary;
}

.lb-bg-quartary{
    background-color: $quartary;
}

.shadowed-h{
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 100%);
}

.shadowed-n{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 1px;
}

.shadowed-l{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 1px;
}

.shadow-top{
    box-shadow: inset 0 15px 17px -10px #000000;
}

.shadow-inset{
    box-shadow:inset 0 0 50px 0px black;
}


.text-shadow-l{
    text-shadow: 2px 2px black !important; 
}

.text-shadow-n{
    text-shadow: 2px 3px black !important;
}

.text-shadow-h{
    text-shadow: 2px 5px black !important;
}

.text-shadow-x{
    text-shadow: none;
}

.shadow-deep-h{
    box-shadow: inset 0 0 60px 15px black;
}

.shadow-deep{
    box-shadow: inset 0 0 50px 15px black;
}

.shadow-deep-l{
    box-shadow: inset 0 0 20px 5px black;
}