@import 'animations.css';

$primary: #71E580;
$primary-l: #DBF8DF;
$primary-dark: #68d37620;

$secondary: #719CE5;

$terciary: #71B9E5;
$terciary-dark: #003b5e;
$terciary-l:#add1e6;
$terciary-ul: #dcf2ff;

$quartary: #E5BA71;

*{
    font-family: cambria;
}

/* lb = Library abreviation */
.lb-bg-primary{
    background-color: $primary;
}

.lb-bg-primary-dark{
    background-color: $primary-dark;
}

.lb-bg-secondary{
    background-color: $secondary;
}

.lb-bg-terciary{
    background-color: $terciary;
}

.lb-bg-terciary-dark{
    background-color: $terciary-dark;
}

.lb-bg-terciary-l{
    background-color: $terciary-l;
}

.lb-bg-terciary-ul{
    background-color: $terciary-ul;
}

.lb-bg-quartary{
    background-color: $quartary;
}

.lb-border-primary{
    border: $primary solid 2px;
}

.shadowed-h{
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 100%);
}

.shadowed-n{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 1px;
}

.shadowed-l{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 1px;
}

.shadow-top{
    box-shadow: inset 0 15px 17px -10px #000000;
}

.shadow-inset{
    box-shadow:inset 0 0 50px 0px black;
}

.text-shadow-l{
    text-shadow: 2px 2px black !important; 
}

.text-shadow-n{
    text-shadow: 2px 3px black !important;
}

.text-shadow-h{
    text-shadow: 2px 5px black !important;
}

.text-shadow-x{
    text-shadow: none;
}

.shadow-deep-h{
    box-shadow: inset 0 0 60px 15px black;
}

.shadow-deep{
    box-shadow: inset 0 0 50px 15px black;
}

.shadow-deep-l{
    box-shadow: inset 0 0 20px 5px black;
}

.shake-on-hover{
    transition: 0.1s
}

.shake-on-hover:hover{
    transform: scale(1.2)
}

.dataTables_wrapper{
    margin:auto;
    width: 90% !important;
}

.dataTable{
    margin-top:50px !important;
    border:none;
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 1px; /* shadowed-l */
}

.dt-buttons{
    margin:15px;
}

.mydatatable{
    th{
        border:1px black solid;
        text-align: center;
    }
}

.dataTables_paginate{
    color:white;
}

.dataTables_filter label input, .dataTables_length label select{
    border-radius: 5px !important;
    border: 2px $terciary-l solid !important;
}

.even{
    background-color: $terciary-ul !important;
}

.dt-button, .paginate_button{
    margin: 5px 10px;
    border: $primary  solid 2px;    
    background-color: $terciary !important;
    
    padding:8px 15px;
    border-radius: 20px;
    font-size: 1em;
    transition: 0.3s;
    font-weight:bold;
}

.datatable-search{
    font-size: 23px;
}

.dataTables_paginate span{
    color:white;
}

.current{
    border: none !important;
}

.sorting::before, .sorting::after{
    color:black !important;
}

/*  F O R M S  */
.myInput{
    border-radius: 5px;
    padding: 2px;
    align-self:center;
    border: $terciary-dark solid 1px;
    outline: none;
    transition: 0.25s;    
}   

.primary-btn{
    background-color: $primary;
}

.terciary-btn{
    background-color: $terciary;
    border: 1px $terciary-dark solid;
    border-radius: 15px;
    color:white !important;
}

.myInput:focus{    
    border: $terciary-l solid 1px;
}

input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $terciary;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus {
    outline-offset: max(2px, 0.15em);
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    border:rgb(119, 119, 119) solid 2px;
    padding:0;

    background-color: #fff;
    margin: 0;
    /* ...existing styles */
    display: grid;
    place-content: center;
    width: 25px;
    height: 25px;
}
  
input[type="checkbox"]::before {
    content: "";
    width: 0.70em;
    height: 0.70em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $terciary;
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="file"] {
    cursor:pointer;
    padding:none;
    overflow:hidden;
    opacity:0;
    z-index:-1;
    height:0px;
}

.fileinput-label{
    border:2px solid $terciary;
    background-color: $terciary-dark;
    border-radius: 7px;
    padding: 0 15px;
}

.select2-container{
    width:100% !important;
    padding: 0 !important;
    border-radius: 5px;
    padding-left:15px;
}

.select2-selection__rendered{
    
    padding:2px !important;
    font-size:24px;
    font-weight: normal;
    background-color: white;
    border-radius: 4px;
    border: 1px $terciary solid;
}

.select2-container--default .select2-selection--single{
    border:none !important;
        
}

.select2-selection__arrow {
    margin-right:5px;
    margin-top:4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color:$terciary transparent transparent transparent;
}

.myForm{
    label{
        font-weight: 500;
        align-self: center;
    }
}

.myBtn{
    transition:0.2s;
}

.myBtn:hover{
    transform:scale(1.1);
}

.bottom-bordered{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hide-up{
    opacity:0;
    transform:translateY(-50px)
}